<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Cashier/Cashier_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>แนบหลักฐานชำระเงิน</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Cashier/Page/Make_a_Trading_Transaction';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Cashier/Page/Attach_Proof_of_Payment';">แนบหลักฐานชำระเงิน</a></li>
                                <li class="breadcrumb-item active">แนบหลักฐานชำระเงิน</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>
                                    
                                    <form action="" class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">หมายเลขออเดอร์</label>
                                            <div class="col-sm-10">
                                                <svg class="barcode" 
                                                    jsbarcode-format="CODE128" 
                                                    jsbarcode-value="<%= order_attach.order_id %>" 
                                                    jsbarcode-textmargin="5" 
                                                    jsbarcode-fontoptions="normal" 
                                                    jsbarcode-fontsize="14" 
                                                    jsbarcode-width="1" 
                                                    jsbarcode-height="50">
                                                </svg>
                                                <img src="/qrcode-gen?text=<%= order_attach.order_id %>" alt="QR Code">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">พนักงานแคชเชียร์</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        <%= order_attach.cashier_id %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ลูกค้าสมาชิก</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        <% if(order_attach.customer_id === "N/A") { %>
                                                            ไม่ได้ระบุ
                                                        <% } else { %>  
                                                            <%= order_attach.customer_id %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ยอดเงินสุทธิ</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        ฿<%= order_attach.net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ยอดรับเงิน</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        ฿<%= order_attach.get_money.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ยอดเงินทอน</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        ฿<%= order_attach.change_money.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ทำรายการเมื่อ</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        <%= order_attach.order_time_transaction %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ชำระเงินเมื่อ</label>
                                            <div class="col-sm-10">
                                                <div class="list-group">
                                                    <div class="list-group-item">
                                                        <%= order_attach.order_time_payment %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="oapp_image" class="col-sm-2 col-form-label required">แนบหลักฐาน</label>
                                            <div class="col-sm-10">
                                                <label for="oapp_image" class="btn btn-primary btn-lg m-0" id="fileLabel" style="display: inline-block; cursor: pointer;">
                                                    <i class="fas fa-upload mr-2"></i>เลือกรูปภาพ
                                                </label>
                                                <input type="file" class="form-control-file" name="oapp_image" id="oapp_image" accept=".png, .jpg, .jpeg, .gif" style="display: none;" onchange="updateFileName(event); previewImage(event)">
                                                <span id="fileName" style="margin-left: 10px; color: #555;">ยังไม่ได้เลือกรูปภาพ</span>
                                                <div class="valid-feedback">
                                                    แนบหลักฐานถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาแนบหลักฐานให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            function updateFileName(event) {
                                                var input = event.target;
                                                var fileName = input.files[0] ? input.files[0].name : 'ยังไม่ได้เลือกรูปภาพ';
                                                document.getElementById('fileName').innerText = fileName;
                                            }
                                        </script>
                                        <div id="imagePreviewSection" style="display: none;">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">แสดงรูปภาพ</label>
                                                <div class="col-sm-10">
                                                    <div id="imagePreviewContainer" style="display: flex; justify-content: center; align-items: center; background-color: #f0f0f0; height: 450px; width: 100%; border: 2px dashed #ccc; border-radius: 0.5rem;">
                                                        <img id="imagePreview" style="max-width: 100%; max-height: 100%; display: none;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            function previewImage(event) {
                                                var input = event.target;
                                                var reader = new FileReader();
                                            
                                                // ถ้ามีการเลือกไฟล์ ให้แสดงส่วนแสดงรูปภาพ
                                                if (input.files && input.files[0]) {
                                                    document.getElementById('imagePreviewSection').style.display = 'block';  // แสดงส่วนแสดงรูปภาพ
                                            
                                                    reader.onload = function(){
                                                        var imgElement = document.getElementById('imagePreview');
                                                        imgElement.src = reader.result;
                                                        imgElement.style.display = 'block';  // แสดงรูปภาพเมื่อโหลดเสร็จแล้ว
                                                    };
                                            
                                                    reader.readAsDataURL(input.files[0]);  // อ่านไฟล์รูปภาพ
                                                }
                                            }
                                        </script>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                        <button type="submit" class="btn btn-custom-one btn-lg btn-block">บันทึกข้อมูล</button>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <button type="reset" class="btn btn-custom-two btn-lg btn-block">รีเซ็ตฟอร์ม</button>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <div onclick="location.href='/Role/Cashier/Page/Attach_Proof_of_Payment';" class="btn btn-custom-two btn-lg btn-block">ย้อนกลับ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>