<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Cashier/Cashier_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>แก้ไขสินค้า</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Cashier/Page/Make_a_Trading_Transaction';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Cashier/Page/Manage_Products';">ปรับปรุงสินค้า</a></li>
                                <li class="breadcrumb-item active">แก้ไขสินค้า</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" class="form-horizontal" method="POST">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">รหัสสินค้า</label>
                                            <div class="col-sm-10">
                                                <svg class="barcode" 
                                                    jsbarcode-format="CODE128" 
                                                    jsbarcode-value="<%= product[0].product_id %>" 
                                                    jsbarcode-textmargin="5" 
                                                    jsbarcode-fontoptions="normal" 
                                                    jsbarcode-fontsize="14" 
                                                    jsbarcode-width="1" 
                                                    jsbarcode-height="50">
                                                </svg>
                                                <img src="/qrcode-gen?text=<%= product[0].product_id %>" alt="QR Code">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="product_name" class="col-sm-2 col-form-label required">ชื่อสินค้า</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="product_name" id="product_name" placeholder="ชื่อสินค้า" required autocomplete="off" value="<%= product[0].product_name %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="product_price" class="col-sm-2 col-form-label required">ราคาสินค้า</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="product_price" id="product_price" placeholder="0.00" required autocomplete="off" value="<%= product[0].product_price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="cat_id" class="col-sm-2 col-form-label required">หมวดหมู่สินค้า</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="cat_id" id="cat_id" required>
                                                    <option disabled>เลือกหมวดหมู่สินค้า</option>
                                                    <% product_cats.forEach((product_cat) => { %>
                                                        <option value="<%= product_cat.cat_id %>" <%= product_cat.cat_id === product[0].cat_id ? 'selected' : '' %>>(<%= product_cat.cat_name_main %>) : <%= product_cat.cat_name_sub %></option>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="form-group form-check m-0 p-0 icheck-primary">
                                                    <input type="checkbox" class="form-check-input" id="accept_check" required>
                                                    <label class="form-check-label" for="accept_check">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไขการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                <button type="reset" class="btn btn-custom-two">รีเซ็ตฟอร์ม</button>
                                                <div onclick="location.href='/Role/Cashier/Page/Manage_Products';" class="btn btn-custom-two">ย้อนกลับ</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>