<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Cashier/Cashier_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>ทำรายการชำระเงินสินค้า</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Cashier/Page/Make_a_Trading_Transaction';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active">ทำรายการชำระเงินสินค้า</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="card">
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>
                                    
                                    <h4>สรุปรายการ</h4>
                                    <hr>
                                    <!-- Description -->
                                    <div class="btn btn-custom-two btn-block mb-3" data-toggle="collapse" data-target="#HelpInformation" aria-expanded="false" aria-controls="HelpInformation"><i class="fas fa-info-circle mr-2"></i>คำแนะนำข้อมูลเพิ่มเติม (คลิ้ก)</div>
                                    <div class="collapse" id="HelpInformation">
                                        <div class="card card-body">
                                            <p class="m-0">* ชำระเงินสด - ระบบจะให้แคชเชียร์บันทึกจำนวนเงินที่ได้รับจากลูกค้า</p>
                                            <p class="m-0">* ชำระด้วย โอนเงินผ่านบัญชีธนาคาร - ระบบจะแสดงหมายเลขบัญชี เพื่อให้ลูกค้าสามารถโอนเงินได้ได้</p>
                                            <p class="m-0">* ชำระด้วย QR Prompt Pay - ระบบจะสร้าง QR Code มาให้อัติโนมัติ เพื่อให้ลูกค้าสามารถสแกนได้</p>
                                            <p class="m-0">* เมื่อลูกค้าชำระเงินแล้วให้ลูกค้าแสดงหลักฐานการชำระเงินแก่พนักงานแคชเชียร์ สำหรับช่องทางที่ไม่ใช่เงินสด</p>
                                        </div>
                                    </div>
                                    <!-- Description End -->
                                    <h5 class="mb-3"><b>รายการออเดอร์ หมายเลข : <span>#<%= OrderPayment[0].order_id %></span></b></h5>
                                    <div class="row">
                                        
                                        <div class="col-sm-6">
                                            <div class="d-flex justify-content-between mb-1">
                                                <b>รายการออเดอร์ : </b>
                                                <span><%= OrderPayment[0].order_id %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex justify-content-between mb-1">
                                                <b>พนักงานแคชเชียร์ : </b>
                                                <span><%= OrderPayment[0].cashier_id %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex justify-content-between mb-1">
                                                <b>ลูกค้าสมาชิก : </b>
                                                <% if (OrderPayment[0].customer_id === "N/A") { %>
                                                    ไม่ได้ระบุ
                                                <% } else { %>
                                                    <span><%= OrderPayment[0].customer_id %></span>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex justify-content-between mb-1">
                                                <b>รูปแบบการชำระเงิน : </b>
                                                <span>(<%= OrderPayment[0].pay_cat_name %>) <%= OrderPayment[0].pay_bank_name %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex justify-content-between mb-1">
                                                <b>วันที่ทำรายการ : </b>
                                                <span><%= OrderPayment[0].order_time_transaction %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="d-flex justify-content-between mb-1">
                                                <b>วันที่ชำระเงิน : </b>
                                                <% if (OrderPayment[0].order_time_payment === "N/A") { %>
                                                    <span>รอชำระเงิน</span>
                                                <% } else { %>
                                                    <span><%= OrderPayment[0].order_time_payment %></span>
                                                <% } %>
                                                
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <h5 class="mt-3 mb-3">รายการสินค้า</h5>
                                    <div class="table-responsive">
                                        <table class="mb-0 table table-hover text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="col-1 text-center" scope="col">#</th>
                                                    <th class="col-6" scope="col">รายการ</th>
                                                    <th class="col-1 text-center" scope="col">Qty.</th>
                                                    <th class="col-2 text-right" scope="col">ราคา</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (OrderProductLists.length === 0) { %>
                                                    <tr>
                                                        <td class="text-center" colspan="4">ไม่มีสินค้าในรายการ</td>
                                                    </tr>
                                                <% } else { %>
                                                    <% OrderProductLists.forEach((OrderProductList, index) => { %>
                                                        <tr>
                                                            <th class="text-middle text-center"><%= index + 1 %></th>
                                                            <td class="text-middle"><%= OrderProductList.product_name %></td>
                                                            <td class="text-middle text-center"><%= OrderProductList.cart_product_qty %></td>
                                                            <td class="text-middle text-right">฿<%= OrderProductList.product_price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
                                                        </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="text-center">ยอดรวม</td>
                                                    <td colspan="1"></td>
                                                    <td class="text-center">x<%= OrderPayment[0].total_unit %></td>
                                                    <td class="text-right">฿<%= OrderPayment[0].total_amount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></td>
                                                </tr>
                                            </tfoot>
                                        </table>                                        
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <form class="needs-validation" novalidate action="" method="post">
                                        <h4>ชำระเงิน</h4>
                                        <hr>
                                        <div class="d-flex justify-content-between mb-1">
                                            <b>ยอดรวม (สินค้า x<%= OrderPayment[0].total_unit.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) %>) : </b>
                                            <span>฿<%= OrderPayment[0].total_amount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1">
                                            <b>ส่วนลดพิเศษ (เฉพาะสมาชิก) : </b>
                                            <span>฿<%= OrderPayment[0].member_discount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1">
                                            <b>ยอดสุทธิ : </b>
                                            <span>฿<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span>
                                        </div>

                                        <hr>
                                        <% if (OrderPayment[0].pay_cat_name === "OPT1") { %>
                                            <input type="hidden" name="net_money_mush" id="net_money_mush" value="<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>" autocomplete="off">
                                            <div class="row">
                                                <div class="col-sm-12 text-center">
                                                    <b><i class="fas fa-check-circle mr-1"></i>ระบบจะให้ท่านป้อนจำนวนเงินที่ได้รับจากลูกค้า</b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>(ธนาคาร <%= OrderPayment[0].pay_bank_name %>)</b>
                                                </div>
                                                <div class="col-sm-12 text-center mt-3 mb-3">
                                                    <input type="text" class="form-control form-control-lg" name="get_money" id="get_money" placeholder="จำนวนเงินที่รับจากลูกค้า" autofocus required autocomplete="off">
                                                    <div class="valid-feedback">
                                                        กรอกจำนวนเงินที่รับจากลูกค้าถูกต้อง
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        กรุณากรอกจำนวนเงินที่รับจากลูกค้าให้ถูกต้อง
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>จำนวนเงินที่ต้องชำระ : ฿<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> บาท</b>
                                                </div>
                                            </div>
                                        <% } else if (OrderPayment[0].pay_cat_name === "OPT2") { %>
                                            <input type="hidden" name="net_money_mush" id="net_money_mush" value="<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>" autocomplete="off">
                                            <input type="hidden" name="get_money" id="get_money" value="<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>" autocomplete="off">
                                            <div class="row">
                                                <div class="col-sm-12 text-center">
                                                    <b><i class="fas fa-check-circle mr-1"></i>ระบบจะให้ลูกค้าโอนเงินผ่านบัญชีธนาคาร</b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>(ธนาคาร <%= OrderPayment[0].pay_bank_name %>)</b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>หมายเลขบัญชี : <%= OrderPayment[0].pay_bank_number %></b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>ชื่อบัญชี : <%= OrderPayment[0].pay_bank_account_name %></b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>จำนวนเงินที่ต้องชำระ : ฿<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> บาท</b>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <input type="hidden" name="net_money_mush" id="net_money_mush" value="<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>" autocomplete="off">
                                            <input type="hidden" name="get_money" id="get_money" value="<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>" autocomplete="off">
                                            <div class="row">
                                                <div class="col-sm-12 text-center">
                                                    <b><i class="fas fa-check-circle mr-1"></i>ระบบได้สร้าง QR Prompt Pay อัติโนมัติ</b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>(ธนาคาร <%= OrderPayment[0].pay_bank_name %>)</b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <img src="/qr-prompt-pay-gen/qr-prompt-pay-gen.svg" alt="QR Code Prompt Pay" style="max-width: 40%; height: auto;">
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>ชื่อบัญชี : <%= OrderPayment[0].pay_bank_account_name %></b>
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <b>จำนวนเงินที่ต้องชำระ : ฿<%= OrderPayment[0].net_total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> บาท</b>
                                                </div>
                                            </div>
                                        <% }  %>
    
                                        <hr>
                                        <!-- Box Webcam -->
                                        <div class="alert alert-success text-center" style="border-radius: 0;" role="alert">
                                            แคชเชียร์บันทึกภาพหลักฐานชำระเงิน
                                        </div>
                                        <div class="mb-2 text-center">
                                            <!-- Video element to display the camera stream -->
                                            <video id="webcam" autoplay playsinline style="max-width: 100%; height: auto; border: 5px solid #28a745;"></video>
                                        </div>
                                        <div class="mb-3 text-center">
                                            <!-- Button to take a snapshot -->
                                            <div id="capture" class="btn btn-primary btn-lg btn-block">บันทึกหลักฐานชำระเงิน</div>
                                        </div>
                                        <hr>
                                        <!-- Hidden canvas element to capture the image -->
                                        <canvas class="mb-3" id="canvas" style="display: none;"></canvas>
                                        <div class="snapshot">
                                            <div class="alert alert-warning text-center" id="snapshot_alert" style="display: none; border-radius: 0;" role="alert">
                                                ภาพหลักฐานชำระเงินที่บันทึก
                                            </div>
                                            <img class="mb-3" id="snapshot" alt="Snapshot" style="display: none; max-width: 100%; height: auto; border: 5px solid #ffc107;">
                                        </div>
                                        <!-- Box Webcam End -->

                                        <!-- Box Webcam -->
                                        <script>
                                            // Select the video and canvas elements
                                            const video = document.getElementById('webcam');
                                            const canvas = document.getElementById('canvas');
                                            const snapshot = document.getElementById('snapshot');
                                            const snapshot_alert = document.getElementById('snapshot_alert');
                                            const captureButton = document.getElementById('capture');
                                            
                                            // Access the user's webcam
                                            navigator.mediaDevices.getUserMedia({ video: true })
                                                .then((stream) => {
                                                    video.srcObject = stream;
                                                })
                                                .catch((error) => {
                                                    console.error('Error accessing webcam:', error);
                                                });
                                        
                                            // Capture a snapshot when the button is clicked
                                            captureButton.addEventListener('click', (event) => {
                                                event.preventDefault(); // ป้องกันการ submit ฟอร์ม
                                                
                                                const context = canvas.getContext('2d');
                                                canvas.width = video.videoWidth;
                                                canvas.height = video.videoHeight;
                                                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                                        
                                                // Convert the canvas image to a data URL and display it
                                                const dataURL = canvas.toDataURL('image/png');
                                                snapshot.src = dataURL;
                                                snapshot.style.display = 'block';
                                                snapshot_alert.style.display = 'block';
                                            });
                                        </script>                                        
                                        <!-- Box Webcam End -->

                                        <button type="submit" class="btn btn-custom-one btn-lg btn-block"><i class="fas fa-check-circle mr-2"></i>ยืนยันชำระเงิน</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <script>
        // Add a new state to the browser history
        history.pushState(null, null, location.href);
    
        // Handle the popstate event to prevent going back
        window.addEventListener('popstate', function (event) {
            history.pushState(null, null, location.href);
        });
    </script>
    <!-- Javascript End -->
</body>
</html>