<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Cashier/Cashier_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>โปรใฟล์</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Make_a_Trading_Transaction';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active">โปรใฟล์</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-md-3">
        
                            <!-- Profile Image -->
                            <div class="card card-primary card-outline">
                                <div class="card-body box-profile">
                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle" src="/assets/images/logo/Logo_Point_of_Sale_Management_System_w.png" alt="User profile picture" loading="lazy">
                                    </div>
        
                                    <h3 class="profile-username text-center"><%= user.member_firstname %> <%= user.member_lastname %></h3>
        
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="text-center">
                                                <svg class="barcode" 
                                                     jsbarcode-format="CODE128" 
                                                     jsbarcode-value="<%= user.member_id %>" 
                                                     jsbarcode-textmargin="5" 
                                                     jsbarcode-fontoptions="normal" 
                                                     jsbarcode-fontsize="14" 
                                                     jsbarcode-width="1" 
                                                     jsbarcode-height="40">
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="text-center mb-2">
                                                <img src="/qrcode-gen?text=<%= user.member_id %>" alt="QR Code">
                                            </div>
                                        </div>
                                    </div>
        
                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <b>สมัครสมาชิกเมื่อ</b> <a class="float-right"><%= user.member_time_register %></a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>เข้าสู่ระบบล่าสุดเมื่อ</b> <a class="float-right"><%= user.member_time_login %></a>
                                        </li>
                                    </ul>
        
                                    <div class="btn btn-custom-one btn-block"><b><%= user.role_name %></b></div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
        
                        </div>
        
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header p-2">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab"><i class="fas fa-user-cog"></i></a></li>
                                        <li class="nav-item"><a class="nav-link" href="#change_email" data-toggle="tab"><i class="fas fa-mail-bulk"></i></a></li>
                                        <li class="nav-item"><a class="nav-link" href="#change_username" data-toggle="tab"><i class="fas fa-user-lock"></i></a></li>
                                        <li class="nav-item"><a class="nav-link" href="#change_password" data-toggle="tab"><i class="fas fa-key"></i></a></li>
                                    </ul>
                                </div><!-- /.card-header -->
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>

                                    <div class="tab-content">

                                        <!-- Account Settings Form -->
                                        <div class="active tab-pane" id="settings">
                                            <form class="needs-validation" novalidate method="POST" action="/Role/Cashier/Page/Profile/ChangeProfile">
                                                <input type="hidden" name="member_id" value="<%= user.member_id %>">
                                                <div class="form-group row">
                                                    <label for="firstname" class="col-sm-2 col-form-label required">ชื่อจริง</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control form-control-lg" id="firstname" name="firstname" placeholder="ชื่อจริง" value="<%= user.member_firstname %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกชื่อจริงถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกชื่อจริงให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="lastname" class="col-sm-2 col-form-label required">นามสกุล</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control form-control-lg" id="lastname" name="lastname" placeholder="นามสกุล" value="<%= user.member_lastname %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกนามสกุลถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกนามสกุลให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="member_tel" class="col-sm-2 col-form-label required">หมายเลขโทรศัพท์</label>
                                                    <div class="col-sm-10">
                                                        <input type="tel" class="form-control form-control-lg" id="member_tel" name="member_tel" placeholder="หมายเลขโทรศัพท์" value="<%= user.member_tel %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกหมายเลขโทรศัพท์ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="member_email_activate" class="col-sm-2 col-form-label">สถานะบัญชี</label>
                                                    <div class="col-sm-10">
                                                        <div class="list-group">
                                                            <div class="list-group-item">
                                                                <% if (user.member_email_activate === "ACTIVATE") { %>ยืนยันที่อยู่อีเมล์แล้ว<% } else { %>รอยืนยันที่อยู่อีเมล์<% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <div class="form-group form-check m-0 p-0 icheck-primary">
                                                            <input type="checkbox" class="form-check-input" id="accept_check_1" required>
                                                            <label class="form-check-label" for="accept_check_1">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไขการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                            <div class="valid-feedback">
                                                                ข้าพเจ้าได้อ่านและยอมรับ
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Account Settings Form -->

                                        <!-- Change Email Form -->
                                        <div class="tab-pane" id="change_email">
                                            <form class="needs-validation" novalidate method="POST" action="/Role/Cashier/Page/Profile/ChangeEmail">
                                                <input type="hidden" name="member_id" value="<%= user.member_id %>">
                                                <div class="form-group row">
                                                    <label for="old_email" class="col-sm-2 col-form-label required">ที่อยู่อีเมล์เดิม</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control form-control-lg" id="old_email" name="old_email" placeholder="ที่อยู่อีเมล์เดิม" value="<%= formData ? formData.old_email : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกที่อยู่อีเมล์เดิมเดิมถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกที่อยู่อีเมล์เดิมเดิมให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="new_email" class="col-sm-2 col-form-label required">ที่อยู่อีเมล์ใหม่</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control form-control-lg" id="new_email" name="new_email" placeholder="ที่อยู่อีเมล์ใหม่" value="<%= formData ? formData.new_email : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกที่อยู่อีเมล์ใหม่ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกที่อยู่อีเมล์ใหม่ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="confirm_new_email" class="col-sm-2 col-form-label required">ยืนยันที่อยู่อีเมล์ใหม่</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control form-control-lg" id="confirm_new_email" name="confirm_new_email" placeholder="ยืนยันที่อยู่อีเมล์ใหม่" value="<%= formData ? formData.confirm_new_email : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกยืนยันที่อยู่อีเมล์ใหม่ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกยืนยันที่อยู่อีเมล์ใหม่ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <div class="form-group form-check m-0 p-0 icheck-primary">
                                                            <input type="checkbox" class="form-check-input" id="accept_check_2" required>
                                                            <label class="form-check-label" for="accept_check_2">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไขการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                            <div class="valid-feedback">
                                                                ข้าพเจ้าได้อ่านและยอมรับ
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Change Email Form End -->
                                        
                                        <!-- Change Username Form -->
                                        <div class="tab-pane" id="change_username">
                                            <form class="needs-validation" novalidate method="POST" action="/Role/Cashier/Page/Profile/ChangeUsername">
                                                <input type="hidden" name="member_id" value="<%= user.member_id %>">
                                                <div class="form-group row">
                                                    <label for="old_username" class="col-sm-2 col-form-label required">ชื่อผู้ใช้เดิม</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control form-control-lg" id="old_username" name="old_username" placeholder="ชื่อผู้ใช้เดิม" value="<%= formData ? formData.old_username : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกชื่อผู้ใช้เดิมถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกชื่อผู้ใช้เดิมให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="new_username" class="col-sm-2 col-form-label required">ชื่อผู้ใช้ใหม่</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control form-control-lg" id="new_username" name="new_username" placeholder="ชื่อผู้ใช้ใหม่" value="<%= formData ? formData.new_username : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกชื่อผู้ใช้ใหม่ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกชื่อผู้ใช้ใหม่ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="confirm_new_username" class="col-sm-2 col-form-label required">ยืนยันชื่อผู้ใช้ใหม่</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control form-control-lg" id="confirm_new_username" name="confirm_new_username" placeholder="ยืนยันชื่อผู้ใช้ใหม่" value="<%= formData ? formData.confirm_new_username : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกยืนยันชื่อผู้ใช้ใหม่ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกยืนยันชื่อผู้ใช้ใหม่ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <div class="form-group form-check m-0 p-0 icheck-primary">
                                                            <input type="checkbox" class="form-check-input" id="accept_check_3" required>
                                                            <label class="form-check-label" for="accept_check_3">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไขการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                            <div class="valid-feedback">
                                                                ข้าพเจ้าได้อ่านและยอมรับ
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Change Username Form End -->

                                        <!-- Change Password Form -->
                                        <div class="tab-pane" id="change_password">
                                            <form class="needs-validation" novalidate method="POST" action="/Role/Cashier/Page/Profile/ChangePassword">
                                                <input type="hidden" name="member_id" value="<%= user.member_id %>">
                                                <div class="form-group row">
                                                    <label for="old_password" class="col-sm-2 col-form-label required">รหัสผ่านเดิม</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control form-control-lg" id="old_password" name="old_password" placeholder="รหัสผ่านเดิม" value="<%= formData ? formData.old_password : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกรหัสผ่านเดิมถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกรหัสผ่านเดิมให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="new_password" class="col-sm-2 col-form-label required">รหัสผ่านใหม่</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control form-control-lg" id="new_password" name="new_password" placeholder="รหัสผ่านใหม่" value="<%= formData ? formData.new_password : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกรหัสผ่านใหม่ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกรหัสผ่านใหม่ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="confirm_new_password" class="col-sm-2 col-form-label required">ยืนยันรหัสผ่านใหม่</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control form-control-lg" id="confirm_new_password" name="confirm_new_password" placeholder="ยืนยันรหัสผ่านใหม่" value="<%= formData ? formData.confirm_new_password : '' %>" required autocomplete="off">
                                                        <div class="valid-feedback">
                                                            กรอกยืนยันรหัสผ่านใหม่ถูกต้อง
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            กรุณากรอกยืนยันรหัสผ่านใหม่ให้ถูกต้อง
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <div class="form-group form-check m-0 p-0 icheck-primary">
                                                            <input type="checkbox" class="form-check-input" id="accept_check_3" required>
                                                            <label class="form-check-label" for="accept_check_3">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไขการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                            <div class="valid-feedback">
                                                                ข้าพเจ้าได้อ่านและยอมรับ
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- Change Password Form End -->
                                        
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>