<!DOCTYPE html>
<html lang="th">

<head>
    <!-- Head -->
    <%- include('../Include/Head.ejs') %>
    <!-- Head End -->
</head>

<body class="hold-transition login-page">
    
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="https://cdn.jsdelivr.net/gh/newzydev/POSMS-NodeJS-Express-EJS-MySQL@main/Public/assets/images/logo/logo_icon.png?v=<%= sys_version %>" alt="Loaading..." height="60" width="60">
        <b class="mt-3">กำลังโหลด ...</b>
    </div>
    <!-- Preloader End -->

    <!-- Content Wrapper. Contains page content -->
    <div class="login-box">
        <div class="card">
            <div class="card-header text-center">
                <img src="https://cdn.jsdelivr.net/gh/newzydev/POSMS-NodeJS-Express-EJS-MySQL@main/Public/assets/images/logo/logo_icon.png?v=<%= sys_version %>" alt="Logo Point of Sale Management System" width="15%">
            </div>
            <div class="card-body login-card-body text-center">
                <p class="login-box-msg p-0"><h1>503</h1>Service Unavailable<br>(ใช้งานเกินพิกัด(ล่ม) หรือกำลังปรับปรุง Server)</p>

                <hr class="mt-0">
                <div class="row">
                    <div class="col-12 mb-3 login_submit_check">
                        <div class="btn btn-custom-one btn-lg btn-block" onclick="location.href='/';">กลับหน้าหลัก</div>
                    </div>
                    <div class="col-12 text-center text-muted">
                        <b style="font-size: 13px;">COPYRIGHT <i class="far fa-copyright"></i> <a class="text-primary" style="cursor: pointer;" onclick="location.href='/';">POSMS TEAM</a> All RIGHT RESERVED</b><br>
                        <b style="font-size: 13px;">POWERED BY <a class="text-primary" style="cursor: pointer;" onclick="window.open('https://github.com/newzydev', '_blank');">NEWZYDEV</a> SYSTEM VERSION <%= sys_version %></b>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content End -->

    <!-- Javascript -->
    <%- include('../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>

</html>