<!DOCTYPE html>
<html lang="th">

<head>
    <%- include('Include/Head.ejs') %>
</head>

<body class="hold-transition login-page">
    <%- include('Include/Preloader.ejs') %>
    <div class="login-box">
        <div class="card">
            <div class="card-header text-center">
                <img src="https://cdn.jsdelivr.net/gh/newzydev/POSMS-NodeJS-Express-EJS-MySQL@main/Public/assets/images/logo/logo_icon.png?v=<%= sys_version %>" alt="Logo Point of Sale Management System" width="15%" loading="lazy">
            </div>
            <div class="card-body login-card-body">
                <div class="login-box-msg">
                    ยินดีต้อนรับเข้าสู่ <b><%= settings.store_name %></b><br>
                    ลืมชื่อผู้ใช้ หรือ รหัสผ่าน<br>
                    ป้อน <b>ที่อยู่อีเมล์</b> และ <b>โทรศัพท์มือถือ</b>
                </div>
                
                <% if (error) { %>
                <div class="alert alert-danger text-center" role="alert">
                    <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                </div>
                <% } %>
                <% if (success) { %>
                <div class="alert alert-success text-center" role="alert">
                    <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                </div>
                <% } %>
                
                <form class="needs-validation" novalidate id="login_form" method="POST">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="member_email" class="required">ที่อยู่อีเมล์ที่สมัครสมาชิก</label>
                            <input type="email" class="form-control form-control-lg" name="member_email" id="member_email" placeholder="example@gmail.com" value="<%= formData ? formData.member_email : '' %>" autofocus autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกที่อยู่อีเมล์ที่สมัครสมาชิกถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกที่อยู่อีเมล์ที่สมัครสมาชิกให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="member_tel" class="required">โทรศัพท์มือถือที่สมัครสมาชิก</label>
                            <input type="text" class="form-control form-control-lg" name="member_tel" id="member_tel" placeholder="0981234567" value="<%= formData ? formData.member_tel : '' %>" autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกโทรศัพท์มือถือที่สมัครสมาชิกถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกโทรศัพท์มือถือที่สมัครสมาชิกให้ถูกต้อง
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <button type="submit" class="btn btn-custom-one btn-lg btn-anti btn-block">กู้คืนบัญชี</button>
                        </div>
                        <div class="col-12">
                            <div class="btn btn-custom-two btn-lg btn-anti btn-block" onclick="location.href='/';">ย้อนกลับ</div>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('Include/Javascript.ejs') %>
</body>

</html>