<!DOCTYPE html>
<html lang="th">

<head>
    <%- include('Include/Head.ejs') %>
</head>

<body class="hold-transition login-page">
    <%- include('Include/Preloader.ejs') %>
    <div class="login-box">
        <div class="card">
            <div class="card-header text-center">
                <img src="https://cdn.jsdelivr.net/gh/newzydev/POSMS-NodeJS-Express-EJS-MySQL@main/Public/assets/images/logo/logo_icon.png?v=<%= sys_version %>" alt="Logo Point of Sale Management System" width="15%" loading="lazy">
            </div>
            <div class="card-body login-card-body">
                <div class="login-box-msg">
                    ยินดีต้อนรับเข้าสู่ <b><%= settings.store_name %></b><br>
                    ลืมชื่อผู้ใช้ หรือ รหัสผ่าน<br>
                    ป้อน <b>ที่อยู่อีเมล์</b> เพื่อขอชื่อผู้ใช้ และ รหัสผ่าน
                </div>
                
                <% if (error) { %>
                <div class="alert alert-danger text-center" role="alert">
                    <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                </div>
                <% } %>
                <% if (success) { %>
                <div class="alert alert-success text-center" role="alert">
                    <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                </div>
                <% } %>
                
                <form class="needs-validation" novalidate method="POST">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label>ที่อยู่อีเมล์ที่สมัครสมาชิก</label>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <%= customer.member_email.substring(0, 2) %>*****<%= customer.member_email.substring(customer.member_email.indexOf('@')) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="code_6_digit_verify" class="required">รหัส OTP ยืนยัน (สามารถกรอกได้ภายใน 5 นาที)</label>
                            <input type="text" class="form-control form-control-lg" name="code_6_digit_verify" id="code_6_digit_verify" placeholder="XXXXXX" autofocus autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกรหัส OTP ยืนยันถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกรหัส OTP ยืนยันให้ถูกต้อง
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <button type="submit" class="btn btn-custom-one btn-lg btn-anti btn-block">กู้คืนบัญชีผู้ใช้</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('Include/Javascript.ejs') %>
</body>

</html>