<!DOCTYPE html>
<html lang="th">

<head>
    <%- include('Include/Head.ejs') %>
</head>

<body class="hold-transition login-page">
    <%- include('Include/Preloader.ejs') %>
    <div class="login-box">
        <div class="card">
            <div class="card-header text-center">
                <img src="/assets/images/logo/logo_icon.png" alt="Logo Point of Sale Management System" width="15%">
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">ลงชื่อเข้าใช้ระบบเพื่อเริ่มเซสชั่นของคุณ<br>ป้อน <b>ชื่อผู้ใช้</b> และ <b>รหัสผ่าน</b></p>
                
                <% if (typeof error !== 'undefined') { %>
                <div class="alert alert-danger text-center" role="alert">
                    <%= error %>
                </div>
                <% } %>
                
                <form class="needs-validation" novalidate id="login_form" method="POST">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="username" class="required">ชื่อผู้ใช้</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="ชื่อผู้ใช้" value="<%= formData ? formData.username : '' %>" autofocus autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกชื่อผู้ใช้ถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกชื่อผู้ใช้ให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="password" class="required">รหัสผ่าน</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="รหัสผ่าน" value="<%= formData ? formData.password : '' %>" autofocus autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกรหัสผ่านถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกรหัสผ่านให้ถูกต้อง
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-3 login_submit_check">
                            <button type="submit" id="login_submit" class="btn btn-custom-one btn-anti btn-block">ล็อกอิน</button>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="btn btn-custom-two btn-anti btn-block" onclick="location.href='/Register';">สมัครสมาชิกสำหรับลูกค้า</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('Include/Javascript.ejs') %>
</body>

</html>