<!DOCTYPE html>
<html lang="th">

<head>
    <!-- Head -->
    <%- include('Include/Head.ejs') %>
    <!-- Head End -->
</head>

<body class="hold-transition login-page">
    
    <!-- Preloader -->
    <%- include('Include/Preloader.ejs') %>
    <!-- Preloader End -->

    <!-- Content Wrapper. Contains page content -->
    <div class="login-box">
        <div class="card my-2">
            <div class="card-header text-center">
                <img src="/assets/images/logo/logo_icon.png" alt="Logo Point of Sale Management System" width="15%">
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">ยินดีต้อนรับเข้าสู่ <b><%= settings.store_name %></b><br>สมัครสมาชิกเพื่อรับสิทธิพิเศษจากเรา</p>

                <% if (error) { %>
                <div class="alert alert-danger text-center" role="alert">
                    <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                </div>
                <% } %>
                <% if (success) { %>
                <div class="alert alert-success text-center" role="alert">
                    <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                </div>
                <% } %>
                
                <form class="needs-validation" novalidate id="login_form" method="POST">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <label for="member_firstname" class="required">ชื่อจริง</label>
                            <input type="text" class="form-control form-control-lg" name="member_firstname" id="member_firstname" placeholder="มานี" value="<%= formData ? formData.member_firstname : '' %>" autofocus autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกชื่อจริงถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกชื่อจริงให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="member_lastname" class="required">นามสกุล</label>
                            <input type="text" class="form-control form-control-lg" name="member_lastname" id="member_lastname" placeholder="มานะ" value="<%= formData ? formData.member_lastname : '' %>" autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกนามสกุลถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกนามสกุลให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="member_email" class="required">ที่อยู่อีเมล์</label>
                            <input type="email" class="form-control form-control-lg mb-1" name="member_email" id="member_email" placeholder="example@gmail.com" value="<%= formData ? formData.member_email : '' %>" autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกที่อยู่อีเมล์ถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกที่อยู่อีเมล์ให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="member_username" class="required">ชื่อผู้ใช้</label>
                            <input type="email" class="form-control form-control-lg" name="member_username" id="member_username" placeholder="example.e@pos" value="<%= formData ? formData.member_username : '' %>" autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกชื่อผู้ใช้ถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกชื่อผู้ใช้ให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="member_password" class="required">รหัสผ่าน</label>
                            <input type="text" class="form-control form-control-lg" name="member_password" id="member_password" placeholder="example.e@pos" value="<%= formData ? formData.member_password : '' %>" autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกรหัสผ่านถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกรหัสผ่านให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="member_tel" class="required">โทรศัพท์มือถือ</label>
                            <input type="tel" class="form-control form-control-lg" name="member_tel" id="member_tel" placeholder="098XXXXXXX" value="<%= formData ? formData.member_tel : '' %>" autocomplete="off" required>
                            <div class="valid-feedback">
                                กรอกหมายเลขโทรศัพท์มือถือถูกต้อง
                            </div>
                            <div class="invalid-feedback">
                                กรุณากรอกหมายเลขโทรศัพท์มือถือให้ถูกต้อง
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-check m-0 p-0 icheck-primary">
                                <input type="checkbox" class="form-check-input" id="accept_check" required>
                                <label class="form-check-label" for="accept_check">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไขการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                <div class="valid-feedback">
                                    ข้าพเจ้าได้อ่านและยอมรับ
                                </div>
                                <div class="invalid-feedback">
                                    กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <button type="submit" id="btn_submit" class="btn btn-custom-one btn-lg btn-block">สมัครสมาชิก</button>
                        </div>
                    </div>
                    <div class="text-center btn btn-custom-two btn-lg btn-block btn-anti" style="cursor: pointer;" onclick="location.href='/';">ย้อนกลับ</div>
                </form>                

            </div>
        </div>
    </div>
    <!-- Content Wrapper. Contains page content End -->

    <!-- Javascript -->
    <%- include('Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>