<!-- Meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="expires" content="0">
<meta property="og:title" content="<%= settings.store_name %> | <%= title %>">
<meta property="og:image:type" content="image/png">
<meta property="og:image" content="/assets/images/logo/icons/logo-icon-latest-1.png">
<meta property="og:url" content="/">
<meta property="og:site_name" content="<%= settings.store_name %> | <%= title %>">
<meta property="og:type" content="website">
<meta property="og:locale" content="th_TH">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:description" content="<%= title %> | <%- settings.store_description %>">
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="/">
<meta name="twitter:title" content="<%= settings.store_name %> | <%= title %>">
<meta name="twitter:image" content="/assets/images/logo/icons/logo-icon-latest-1.png">
<meta name="description" content="<%= title %> | <%- settings.store_description %>">
<meta name="keywords" content="<%= settings.store_name %>, <%= title %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- manifest -->
<link rel="manifest" href="/manifest.json">
<!-- Title -->
<title><%= title %></title>
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logo/icons/logo-icon-latest-1.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo/icons/logo-icon-latest-1.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo/icons/logo-icon-latest-1.png">
<!-- Font Awesome -->
<link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
<!-- summernote -->
<link rel="stylesheet" href="/assets/plugins/summernote/summernote-bs4.min.css">
<!-- Style main -->
<link rel="stylesheet" href="/assets/css/style.css">