<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Shop_Owner/Shop_Owner_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>แก้ไขแบบชำระเงิน</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Dashbord';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Manage_Payment_Methods';">ปรับปรุงรูปแบบชำระเงิน</a></li>
                                <li class="breadcrumb-item active">เพิ่มรูปแบบชำระเงิน</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <div class="form-group row">
                                            <label for="pay_cat_name" class="col-sm-2 col-form-label required">ประเภทการชำระเงิน</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="pay_cat_name" id="pay_cat_name" required>
                                                    <option selected disabled>เลือกประเภทการชำระเงิน</option>
                                                    <option <%= pay_method.pay_cat_name === 'OPT1' ? 'selected' : '' %> value="OPT1">เงินสด / Cash Pay</option>
                                                    <option <%= pay_method.pay_cat_name === 'OPT2' ? 'selected' : '' %> value="OPT2">บัญชีธนาคาร / Bank Account</option>
                                                    <option <%= pay_method.pay_cat_name === 'OPT3' ? 'selected' : '' %> value="OPT3">คิวอาร์พร้อมเพย์ / QR Prompt Pay</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกประเภทการชำระเงินถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกประเภทการชำระเงินให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="pay_bank_name" class="col-sm-2 col-form-label required">ชื่อธนาคาร</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="pay_bank_name" id="pay_bank_name" placeholder="ชื่อธนาคาร" value="<%= pay_method.pay_bank_name %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกชื่อธนาคารถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกชื่อธนาคารให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="pay_bank_account_name" class="col-sm-2 col-form-label required">ชื่อบัญชีธนาคาร</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="pay_bank_account_name" id="pay_bank_account_name" placeholder="ชื่อบัญชีธนาคาร" value="<%= pay_method.pay_bank_account_name %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกชื่อบัญชีธนาคารถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกชื่อบัญชีธนาคารให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="pay_bank_number" class="col-sm-2 col-form-label required">หมายเลขบัญชี</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="pay_bank_number" id="pay_bank_number" placeholder="หมายเลขบัญชี" value="<%= pay_method.pay_bank_number %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกหมายเลขบัญชีถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกหมายเลขบัญชีให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="pay_status" class="col-sm-2 col-form-label required">สถานะ</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="pay_status" id="pay_status" required>
                                                    <option value="" selected disabled>เลือกสถานะ</option>
                                                    <option <%= pay_method.pay_status === '1' ? 'selected' : '' %> value="1">เปิด</option>
                                                    <option <%= pay_method.pay_status === '0' ? 'selected' : '' %> value="0">ปิด</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกสถานะถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกสถานะให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="form-group form-check m-0 p-0 icheck-primary">
                                                    <input type="checkbox" class="form-check-input" id="accept_check" required>
                                                    <label class="form-check-label" for="accept_check">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไชการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                    <div class="valid-feedback">
                                                        ข้าพเจ้าได้อ่านและยอมรับ
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                <button type="reset" class="btn btn-custom-two">รีเซ็ตฟอร์ม</button>
                                                <div onclick="location.href='/Role/Shop_Owner/Page/Manage_Payment_Methods';" class="btn btn-custom-two">ย้อนกลับ</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>