<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Shop_Owner/Shop_Owner_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>แก้ไขบัญชีพนักงาน</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Dashbord';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Manage_Employee_Users';">ปรับปรุงบัญชีพนักงาน</a></li>
                                <li class="breadcrumb-item active">แก้ไขบัญชีพนักงาน</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>
                                    
                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">รหัสพนักงาน</label>
                                            <div class="col-sm-10">
                                                <svg class="barcode" 
                                                    jsbarcode-format="CODE128" 
                                                    jsbarcode-value="<%= employee.member_id %>" 
                                                    jsbarcode-textmargin="5" 
                                                    jsbarcode-fontoptions="normal" 
                                                    jsbarcode-fontsize="14" 
                                                    jsbarcode-width="1" 
                                                    jsbarcode-height="50">
                                                </svg>
                                                <img src="/qrcode-gen?text=<%= employee.member_id %>" alt="QR Code">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="first_name" class="col-sm-2 col-form-label required">ชื่อจริง</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="ชื่อจริง" value="<%= employee.member_firstname %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกชื่อจริงถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกชื่อจริงให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="last_name" class="col-sm-2 col-form-label required">นามสกุล</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="นามสกุล" value="<%= employee.member_lastname %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกนามสกุลถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกนามสกุลให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="username" class="col-sm-2 col-form-label required">ชื่อผู้ใช้</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="username" id="username" placeholder="ชื่อผู้ใช้" value="<%= employee.member_username %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกชื่อผู้ใช้ถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกชื่อผู้ใช้ให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-2 col-form-label required">รหัสผ่าน</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="password" id="password" placeholder="รหัสผ่าน" value="<%= employee.member_password %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกรหัสผ่านถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกรหัสผ่านให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="confirm_password" class="col-sm-2 col-form-label required">ยืนยันรหัสผ่าน</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="ยืนยันรหัสผ่าน" value="<%= employee.member_password %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกยืนยันรหัสผ่านถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกยืนยันรหัสผ่านให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="phone_number" class="col-sm-2 col-form-label required">หมายเลขโทรศัพท์</label>
                                            <div class="col-sm-10">
                                                <input type="tel" class="form-control" name="phone_number" id="phone_number" placeholder="หมายเลขโทรศัพท์" value="<%= employee.member_tel%>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกหมายเลขโทรศัพท์ถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกหมายเลขโทรศัพท์ให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="role_id" class="col-sm-2 col-form-label required">ระดับผู้ใช้งานบัญชี</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="role_id" id="role_id">
                                                    <option value="" disabled>เลือกระดับผู้ใช้งาน</option>
                                                    <option <%= employee.role_id === 'ROLE001' ? 'selected' : '' %> value="ROLE001">เจ้าของร้าน / Shop Owner</option>
                                                    <option <%= employee.role_id === 'ROLE002' ? 'selected' : '' %> value="ROLE002">แคชเชียร์ / Cashier</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกระดับผู้ใช้งานถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกระดับผู้ใช้งานให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="form-group form-check m-0 p-0 icheck-primary">
                                                    <input type="checkbox" class="form-check-input" id="accept_check" required>
                                                    <label class="form-check-label" for="accept_check">ข้าพเจ้า ได้อ่านและยอมรับ <span class="text-primary">นโยบายความเป็นส่วนตัว</span> <span class="text-primary">ข้อกำหนด</span> และ <span class="text-primary">เงื่อนไชการใช้บริการ</span> ของเราเป็นที่เรียบร้อยแล้ว</label>
                                                    <div class="valid-feedback">
                                                        ข้าพเจ้าได้อ่านและยอมรับ
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        กรุณาอ่านและยอมรับ นโยบายความเป็นส่วนตัว ข้อกำหนด และเงื่อนไชการใช้บริการ
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-custom-one">บันทึกข้อมูล</button>
                                                <button type="reset" class="btn btn-custom-two">รีเซ็ตฟอร์ม</button>
                                                <div onclick="location.href='/Role/Shop_Owner/Page/Manage_Employee_Users';" class="btn btn-custom-two">ย้อนกลับ</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>