<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Shop_Owner/Shop_Owner_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>ตั้งค่าระบบ</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active">ตั้งค่าระบบ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">ส่วนข้อมูลร้านค้า</div>
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>

                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <div class="form-group row">
                                            <label for="store_name" class="col-sm-2 col-form-label required">ชื่อร้านค้า :</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="store_name" id="store_name" placeholder="ชื่อร้านค้า" value="<%= settings.store_name %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกชื่อร้านค้าถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกชื่อร้านค้าให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="store_description" class="col-sm-2 col-form-label required">คำอธิบายร้านค้า :</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="store_description" id="store_description" rows="5" placeholder="คำอธิบายร้านค้า" required autocomplete="off"><%= settings.store_description %></textarea>
                                                <div class="valid-feedback">
                                                    กรอกคำอธิบายร้านค้าถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกคำอธิบายร้านค้าให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="store_categorie" class="col-sm-2 col-form-label required">ประเภทร้านค้า :</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="store_categorie" id="store_categorie" required>
                                                    <option value="" selected disabled>เลือกประเภทร้านค้า</option>
                                                    <option <%= settings.store_categorie === 'ร้านค้าปลีก (Retail Store)' ? 'selected' : '' %> value="ร้านค้าปลีก (Retail Store)">ร้านค้าปลีก (Retail Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านค้าส่ง (Wholesale Store)' ? 'selected' : '' %> value="ร้านค้าส่ง (Wholesale Store)">ร้านค้าส่ง (Wholesale Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านค้าออนไลน์ (Online Store)' ? 'selected' : '' %> value="ร้านค้าออนไลน์ (Online Store)">ร้านค้าออนไลน์ (Online Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านอาหารและเครื่องดื่ม (Food and Beverage Store)' ? 'selected' : '' %> value="ร้านอาหารและเครื่องดื่ม (Food and Beverage Store)">ร้านอาหารและเครื่องดื่ม (Food and Beverage Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านค้าพิเศษ (Specialty Store)' ? 'selected' : '' %> value="ร้านค้าพิเศษ (Specialty Store)">ร้านค้าพิเศษ (Specialty Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านสะดวกซื้อ (Convenience Store)' ? 'selected' : '' %> value="ร้านสะดวกซื้อ (Convenience Store)">ร้านสะดวกซื้อ (Convenience Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านค้าชุมชน (Community Store)' ? 'selected' : '' %> value="ร้านค้าชุมชน (Community Store)">ร้านค้าชุมชน (Community Store)</option>
                                                    <option <%= settings.store_categorie === 'ร้านขายสินค้าเฉพาะกิจ (Pop-up Store)' ? 'selected' : '' %> value="ร้านขายสินค้าเฉพาะกิจ (Pop-up Store)">ร้านขายสินค้าเฉพาะกิจ (Pop-up Store)</option>
                                                    <option <%= settings.store_categorie === 'ไม่ระบุ' ? 'selected' : '' %> value="ไม่ระบุ">ไม่ระบุ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกประเภทร้านค้าถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกประเภทร้านค้าให้ถูกต้อง
                                                </div>
                                                <div class="btn btn-custom-two btn-block mt-3" data-toggle="collapse" data-target="#HelpInformation" aria-expanded="false" aria-controls="HelpInformation"><i class="fas fa-info-circle mr-2"></i>คำแนะนำประเภทร้านค้า (คลิก)</div>
                                                <div class="collapse mt-3" id="HelpInformation">
                                                    <div class="card card-body">
                                                        <ol class="pl-3 pr-3 pt-0 pb-0 m-0">
                                                            <li>
                                                                <b>ร้านค้าปลีก (Retail Store)</b><br>
                                                                <span>ร้านค้าที่จำหน่ายสินค้าให้แก่ผู้บริโภคโดยตรง</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านค้าส่ง (Wholesale Store)</b><br>
                                                                <span>ร้านค้าที่จำหน่ายสินค้าจำนวนมากให้แก่ร้านค้าปลีกหรือธุรกิจอื่น ๆ</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านค้าออนไลน์ (Online Store)</b><br>
                                                                <span>ร้านค้าที่จำหน่ายสินค้าและบริการผ่านทางอินเทอร์เน็ต</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านอาหารและเครื่องดื่ม (Food and Beverage Store)</b><br>
                                                                <span>ร้านค้าที่เน้นการจำหน่ายอาหารและเครื่องดื่ม</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านค้าพิเศษ (Specialty Store)</b><br>
                                                                <span>ร้านค้าที่จำหน่ายสินค้าประเภทใดประเภทหนึ่งโดยเฉพาะ</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านสะดวกซื้อ (Convenience Store)</b><br>
                                                                <span>ร้านค้าที่เปิดให้บริการตลอด 24 ชั่วโมง และจำหน่ายสินค้าจำเป็นในชีวิตประจำวัน</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านค้าชุมชน (Community Store)</b><br>
                                                                <span>ร้านค้าที่เน้นการจำหน่ายสินค้าในชุมชน</span>
                                                            </li>
                                                            <li>
                                                                <b>ร้านขายสินค้าเฉพาะกิจ (Pop-up Store)</b><br>
                                                                <span>ร้านค้าที่เปิดเป็นการชั่วคราวในงานเทศกาลหรืองานอีเวนต์ต่าง ๆ</span>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">ส่วนช่วงเวลาเปิดทำการของร้านค้า</div>
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>

                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <!-- วันจันทร์ -->
                                        <div class="form-group row">
                                            <label for="day_open_1" class="col-sm-2 col-form-label required">วันเปิดทำการ วันจันทร์ :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_1" id="day_open_1" required>
                                                    <option <%= settings.day_open_1 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_1 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_1" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_1" id="time_open_1" value="<%= settings.time_open_1 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_1" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_1" id="time_close_1" value="<%= settings.time_close_1 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันจันทร์ -->
                                        <!-- วันอังคาร -->
                                        <div class="form-group row">
                                            <label for="day_open_2" class="col-sm-2 col-form-label required">วันเปิดทำการ วันอังคาร :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_2" id="day_open_2" required>
                                                    <option <%= settings.day_open_2 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_2 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_2" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_2" id="time_open_2" value="<%= settings.time_open_2 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_2" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_2" id="time_close_2" value="<%= settings.time_close_2 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันอังคาร -->
                                        <!-- วันพุธ -->
                                        <div class="form-group row">
                                            <label for="day_open_3" class="col-sm-2 col-form-label required">วันเปิดทำการ วันพุธ :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_3" id="day_open_3" required>
                                                    <option <%= settings.day_open_3 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_3 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_3" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_3" id="time_open_3" value="<%= settings.time_open_3 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_3" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_3" id="time_close_3" value="<%= settings.time_close_3 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันพุธ -->
                                        <!-- วันพฤหัสบดี -->
                                        <div class="form-group row">
                                            <label for="day_open_4" class="col-sm-2 col-form-label required">วันเปิดทำการ วันพฤหัสบดี :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_4" id="day_open_4" required>
                                                    <option <%= settings.day_open_4 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_4 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_4" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_4" id="time_open_4" value="<%= settings.time_open_4 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_4" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_4" id="time_close_4" value="<%= settings.time_close_4 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันพฤหัสบดี -->
                                        <!-- วันศุกร์ -->
                                        <div class="form-group row">
                                            <label for="day_open_5" class="col-sm-2 col-form-label required">วันเปิดทำการ วันศุกร์ :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_5" id="day_open_5" required>
                                                    <option <%= settings.day_open_5 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_5 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_5" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_5" id="time_open_5" value="<%= settings.time_open_5 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_5" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_5" id="time_close_5" value="<%= settings.time_close_5 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันศุกร์ -->
                                        <!-- วันเสาร์ -->
                                        <div class="form-group row">
                                            <label for="day_open_6" class="col-sm-2 col-form-label required">วันเปิดทำการ วันเสาร์ :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_6" id="day_open_6" required>
                                                    <option <%= settings.day_open_6 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_6 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_6" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_6" id="time_open_6" value="<%= settings.time_open_6 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_6" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_6" id="time_close_6" value="<%= settings.time_close_6 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันเสาร์ -->
                                        <!-- วันอาทิตย์ -->
                                        <div class="form-group row">
                                            <label for="day_open_7" class="col-sm-2 col-form-label required">วันเปิดทำการ วันอาทิตย์ :</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="day_open_7" id="day_open_7" required>
                                                    <option <%= settings.day_open_7 === 'เปิดทำการ' ? 'selected' : '' %> value="เปิดทำการ">เปิดทำการ</option>
                                                    <option <%= settings.day_open_7 === 'ปิดทำการ' ? 'selected' : '' %> value="ปิดทำการ">ปิดทำการ</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    เลือกวันเปิดทำการถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกวันเปิดทำการให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_open_7" class="col-sm-1 col-form-label required">เวลาเปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_open_7" id="time_open_7" value="<%= settings.time_open_7 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาเปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาเปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                            <label for="time_close_7" class="col-sm-1 col-form-label required">เวลาปิด :</label>
                                            <div class="col-sm-2">
                                                <input type="time" class="form-control" name="time_close_7" id="time_close_7" value="<%= settings.time_close_7 %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    เลือกเวลาปิดถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณาเลือกเวลาปิดให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <!-- วันอาทิตย์ -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">ส่วนแผนที่ร้านค้า</div>
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>

                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <div class="form-group row">
                                            <label for="map_iframe_api" class="col-sm-2 col-form-label required">วาง Iframe จาก Google Map :</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control mb-2" name="map_iframe_api" id="map_iframe_api" placeholder="คัดลอกและวางฝังแผนที่จาก Iframe Google Map" value="<%= settings.map_iframe_api %>" required autocomplete="off">
                                                <span class="text-muted">(ระบบจะตัดส่วน iframe ที่ไม่เกี่ยวข้องให้เหลือเฉพาะข้อมูลใน src ให้โดยอัติโนมัติ)</span>
                                                <div class="valid-feedback">
                                                    กรอกฝังแผนที่จาก Google Map ถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกฝังแผนที่จาก Google Map ให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            // script ตัดข้อมูลที่ไม่เกี่ยวข้อง เอาเฉพาะ url google map api ใน src
                                            document.getElementById('map_iframe_api').addEventListener('input', updateIframeSrc);
                                            document.getElementById('map_iframe_api').addEventListener('paste', function(e) {
                                                setTimeout(updateIframeSrc.bind(this), 0);
                                            });
                                        
                                            function updateIframeSrc() {
                                                let inputValue = this.value;
                                                let srcPattern = /src="([^"]*)"/;
                                                let match = inputValue.match(srcPattern);
                                                
                                                if (match) {
                                                    this.value = match[1];
                                                }
                                            }
                                        </script>                                        
                                        <div class="form-group row">
                                            <label for="map_iframe_api_preview" class="col-sm-2 col-form-label">Preview Iframe จาก Google Map :</label>
                                            <div class="col-sm-10">
                                                <iframe src="<%= settings.map_iframe_api %>" width="100%" height="450" style="border: 1px solid #e7e7e7;"></iframe>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">ส่วนข้อมูลสมาชิกร้านค้า</div>
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>

                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <div class="form-group row">
                                            <label for="customer_discount" class="col-sm-2 col-form-label required">ส่วนลดสำหรับสมาชิก (กี่ %) :</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="customer_discount" id="customer_discount" placeholder="ส่วนลดสำหรับสมาชิก" value="<%= settings.customer_discount %>" required autocomplete="off">
                                                <div class="valid-feedback">
                                                    กรอกส่วนลดสำหรับสมาชิกถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกส่วนลดสำหรับสมาชิกให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">ส่วนนโยบายความเป็นส่วนตัว ข้อกำหนดและเงื่อนไข นโยบายการใช้คุกกี้</div>
                                <div class="card-body">

                                    <% if (error) { %>
                                    <div class="alert alert-danger text-center" role="alert">
                                        <span><i class="fas fa-exclamation-triangle mr-2"></i><%= error %>
                                    </div>
                                    <% } %>
                                    <% if (success) { %>
                                    <div class="alert alert-success text-center" role="alert">
                                        <span><i class="fas fa-check-circle mr-2"></i><%= success %>
                                    </div>
                                    <% } %>

                                    <form action="" class="needs-validation" novalidate method="POST">
                                        <div class="form-group row">
                                            <label for="privacy_policy" class="col-sm-2 col-form-label required">นโยบายความเป็นส่วนตัว</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="privacy_policy" id="privacy_policy" rows="5" placeholder="นโยบายความเป็นส่วนตัว" required autocomplete="off"><%= settings.privacy_policy %></textarea>
                                                <div class="valid-feedback">
                                                    กรอกนโยบายความเป็นส่วนตัวถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกนโยบายความเป็นส่วนตัวให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="terms_and_conditions" class="col-sm-2 col-form-label required">ข้อกำหนดและเงื่อนไขการใช้งาน</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="terms_and_conditions" id="terms_and_conditions" rows="5" placeholder="ข้อกำหนดและเงื่อนไขการใช้งาน" required autocomplete="off"><%= settings.terms_and_conditions %></textarea>
                                                <div class="valid-feedback">
                                                    กรอกข้อกำหนดและเงื่อนไขการใช้งานถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกข้อกำหนดและเงื่อนไขการใช้งานให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="cookie" class="col-sm-2 col-form-label required">นโยบายการใช้คุกกี้</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="cookie" id="cookie" rows="5" placeholder="นโยบายการใช้คุกกี้" required autocomplete="off"><%= settings.cookie %></textarea>
                                                <div class="valid-feedback">
                                                    กรอกข้อกำหนดและเงื่อนไขการใช้งานถูกต้อง
                                                </div>
                                                <div class="invalid-feedback">
                                                    กรุณากรอกข้อกำหนดและเงื่อนไขการใช้งานให้ถูกต้อง
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">ข้อมูลเซิร์ฟเวอร์</div>
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="client_information" class="col-sm-2 col-form-label">ข้อมูลผู้ใช้ :</label>
                                        <div class="col-sm-10">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>ไอพีของเครื่องผู้ใช้งาน :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= clientIp %>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="server_information" class="col-sm-2 col-form-label">ข้อมูลเซิร์ฟเวอร์ :</label>
                                        <div class="col-sm-10">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>ไอพีของเครื่องเซิร์ฟเวอร์ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= ipAddress %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>ชื่อเครื่องของเซิร์ฟเวอร์ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= hostname %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>แพลตฟอร์มของระบบปฏิบัติการ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= platform %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>สถาปัตยกรรมของระบบปฏิบัติการ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= architecture %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>เวอร์ชันของระบบปฏิบัติการ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= release %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>ชนิดของระบบปฏิบัติการ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= type %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b>ชื่อและเวอร์ชันของระบบปฏิบัติการ :</b>
                                                        </div>
                                                        <div class="col">
                                                            <%= version %>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>