<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Shop_Owner/Shop_Owner_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>รูปแบบการชำระเงิน</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Dashbord';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Manage_Payment_Methods';">ปรับปรุงบัญชีพนักงาน</a></li>
                                <li class="breadcrumb-item active">รูปแบบการชำระเงิน</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">รหัสรูปแบบชำระเงิน</label>
                                        <div class="col-sm-10">
                                            <svg class="barcode" 
                                                jsbarcode-format="CODE128" 
                                                jsbarcode-value="<%= pay_method.pay_id %>" 
                                                jsbarcode-textmargin="5" 
                                                jsbarcode-fontoptions="normal" 
                                                jsbarcode-fontsize="14" 
                                                jsbarcode-width="1" 
                                                jsbarcode-height="50">
                                            </svg>
                                            <img src="/qrcode-gen?text=<%= pay_method.pay_id %>" alt="QR Code">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="first_name" class="col-sm-2 col-form-label">ประเภทการชำระเงิน</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <% if (pay_method.pay_cat_name === 'OPT1') { %>
                                                        เงินสด (Cash Pay)
                                                    <% } else if (pay_method.pay_cat_name === 'OPT2') { %>
                                                        บัญชีธนาคาร (Bank Account)
                                                    <% } else if (pay_method.pay_cat_name === 'OPT3') { %>
                                                        คิวอาร์พร้อมเพย์ (QR Prompt Pay)
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="first_name" class="col-sm-2 col-form-label">ชื่อธนาคาร</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= pay_method.pay_bank_name %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="first_name" class="col-sm-2 col-form-label">หมายเลขบัญชี</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <% if (pay_method.pay_bank_number.length === 10) { %>
                                                        <%= pay_method.pay_bank_number.substring(0, 2) %>*-***-<%= pay_method.pay_bank_number.substring(6) %>
                                                    <% } else { %>
                                                        <%= pay_method.pay_bank_number %>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="first_name" class="col-sm-2 col-form-label">สถานะ</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <% if (pay_method.pay_status === '1') { %>
                                                        เปิดอยู่
                                                    <% } else if (pay_method.pay_status === '0') { %>
                                                        ปิดอยู่
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="btn btn-custom-one btn-lg btn-block" onclick="copyDataInfo('<%= pay_method.pay_id %>, <%= pay_method.pay_bank_name %>, <%= pay_method.pay_bank_number %>');">คัดลอกข้อมูล</div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <div onclick="location.href='/Role/Shop_Owner/Page/Manage_Payment_Methods';" class="btn btn-custom-two btn-lg btn-block">ย้อนกลับ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>