<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Include/Head.ejs') %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Preloader -->
        <%- include('../../Include/Preloader.ejs') %>
        <!-- Preloader End -->

        <!-- Navbar -->
        <%- include('../../Include/Navbar.ejs') %>
        <!-- Navbar End -->

        <!-- Main Sidebar -->
        <%- include('../../Include/Role/Shop_Owner/Shop_Owner_Sidebar.ejs') %>
        <!-- Main Sidebar End -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>ประวัติลูกค้า</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Dashbord';">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a class="text-primary" style="cursor: pointer;" onclick="location.href='/Role/Shop_Owner/Page/Manage_Customer_Users';">ปรับปรุงบัญชีลูกค้า</a></li>
                                <li class="breadcrumb-item active">ประวัติลูกค้า</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content Header End (Page header) -->
        
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
        
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">รหัสพนักงาน</label>
                                        <div class="col-sm-10">
                                            <svg class="barcode" 
                                                jsbarcode-format="CODE128" 
                                                jsbarcode-value="<%= customer.member_id %>" 
                                                jsbarcode-textmargin="5" 
                                                jsbarcode-fontoptions="normal" 
                                                jsbarcode-fontsize="14" 
                                                jsbarcode-width="1" 
                                                jsbarcode-height="50">
                                            </svg>
                                            <img src="/qrcode-gen?text=<%= customer.member_id %>" alt="QR Code">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="first_name" class="col-sm-2 col-form-label">ชื่อจริง</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.member_firstname %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="last_name" class="col-sm-2 col-form-label">นามสกุล</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.member_lastname %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone_number" class="col-sm-2 col-form-label">ที่อยู่อีเมลย์</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.member_email.substring(0, 2) %>*****<%= customer.member_email.substring(customer.member_email.indexOf('@')) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone_number" class="col-sm-2 col-form-label">หมายเลขโทรศัพท์</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.member_tel.substring(0, 2) %>*-***-<%= customer.member_tel.substring(6) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone_number" class="col-sm-2 col-form-label">สถานะบัญชี</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <% if (customer.member_email_activate === "ACTIVATE") { %>
                                                        ยืนยันที่อยู่อีเมล์แล้ว
                                                    <% } else { %>
                                                        รอยืนยันที่อยู่อีเมล์
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="role_id" class="col-sm-2 col-form-label">ระดับผู้ใช้งานบัญชี</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.role_name %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="member_time_register" class="col-sm-2 col-form-label">สมัครสมาชิกเมื่อ</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.member_time_register %>
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="member_time_login" class="col-sm-2 col-form-label">ลงชื่อเข้าใช้เมื่อ</label>
                                        <div class="col-sm-10">
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <%= customer.member_time_login %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <div class="btn btn-custom-one btn-lg btn-block" onclick="copyDataInfo('<%= customer.member_id %>, <%= customer.member_firstname %>, <%= customer.member_lastname %>');">คัดลอกข้อมูล</div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <div onclick="location.href='/Role/Shop_Owner/Page/Manage_Customer_Users';" class="btn btn-custom-two btn-lg btn-block">ย้อนกลับ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- Main content End -->
        </div>        
        <!-- Content Wrapper. Contains page content End -->

        <!-- Footer -->
        <%- include('../../Include/Footer.ejs') %>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->

    <!-- Javascript -->
    <%- include('../../Include/Javascript.ejs') %>
    <!-- Javascript End -->
</body>
</html>